.h1{
    color: rgb(31, 26, 26);
}

.red{
    background-color: brown;
}

.blue{
    background-color: blue;
}

#headerid{
    text-align: center;
    padding: 10px;
}

#p1{
    text-align: center;
    font-size: 25px;
}

.pink{
    background-color: pink;
}