body{
    background-color: lightblue;
    justify-content: center;
}

td,th,table{
    border: 1px solid black;
    text-align: center;
    
}

h1{
    font-size: 25px;
}

h2{
    font-size: 20px;
}